.ContentSlide  {
    figure {
        img {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
        }
    }
    .slide {
        text-align: center;
        display: flex;
        justify-content: space-between;
        height: 60px;
        line-height: 60px;
        font-size: 17px;
        font-weight: 500;

        span~span {
            width: 60px; 
            border-right:1px solid #000 ;           
        }
 
        p {
            display: block;
            width: 1800px;
            border-left: 1px solid #000;
            border-right:1px solid #000;
            text-overflow: ellipsis;
        }
    }
}


.SubContent {
    display: flex;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    figure {
        flex: 1;
        border-left: 1px solid #000;

        img {
            border-bottom: 1px solid #000;
        }

        div {
            line-height: 60px;
            text-align: center;
            font-size: 17px;
            font-weight: 500;
        }
    }
}

.BigCate {
    display: flex;
    border-bottom: 1px solid #000;

    figure {
        flex: 1;
        border-left: 1px solid #000;

        div {
            padding: 26px 30px 30px 30px;

            strong {
                display: block;
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 9px;
            }

            p {
                font-size: 18px;
                font-weight: 500;
                color: #999;
                padding-bottom: 69px;
            }

            img {
                width: 350px;
                border: 1px solid #000;
            }
        }
    }
}