.LogoHeader {
    background: #000;
    line-height: 40px;
    margin: 0 0 5px 0;

    img {
        margin: 0 0 0 30px;
    }
}


.NavHeader {
    line-height: 35px;
    background-color: #000;

    ul {
        display: flex;
        color: #ccc;
        font-size: 15px;
        font-weight: 300;
    }
}


.MainSlide {
    figure {
        text-align: center;

        img {
            border-right: 1px solid #000;
        }
    }

    .slide {
        text-align: center;
        display: flex;
        height: 60px;
        line-height: 60px;
        font-size: 17px;
        font-weight: 500;
        
        span {
            width: 60px;
            border-right:1px solid #000 ;
        }

        p {
            
            border-right:1px solid #000 ;
        }
    }
}

.MainContent {
    display: flex;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    figure {
        // flex: 1;
        width: 25%;
        border-left: 1px solid #000;

        img {
            border-bottom: 1px solid #000;
        }

        div {
            font-size: 17px;
            text-align: center;
            line-height: 60px;
            font-weight: 500;
            overflow: hidden;
white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}