.LogoHeader {
    background: #000;
    line-height: 40px;
    margin: 0 0 5px 0;

    img {
        margin: 0 0 0 30px;
    }
}


.NavHeader {
    line-height: 35px;
    background-color: #000;

    ul {
        display: flex;
        color: #ccc;
        font-size: 15px;
        font-weight: 300;
    }
}


.MainSlide {
    figure {

        text-align: center;
    }

    .slide {
        display: flex;
    }
}