.LogoHeader {
    background: #000;
    line-height: 40px;
    margin: 0 0 5px 0;

    img {
        margin: 0 0 0 30px;
    }
}


.NavHeader {
    line-height: 35px;
    background-color: #000;

    ul {
        display: flex;
        color: #ccc;
        font-size: 15px;
        font-weight: 300;
    }
}


.MainSlide {
    figure {

        text-align: center;
    }

    .slide {
        display: flex;
    }
}

.MainContent {
    display: flex;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    figure {
        flex: 1;
        border-left: 1px solid #000;

        img {
            border-bottom: 1px solid #000;
        }


        div {
            text-align: center;
        }
    }
}